# Login
GEIWOHUO_USERNAME=
GEIWOHUO_PASSWORD=
GEIWOHUO_OTP_WAIT_MS=300000

# Browser pacing
HUMAN_DELAY_MIN_MS=2000
HUMAN_DELAY_MAX_MS=5000
HEADLESS=0
CLOSE_CHROME_AFTER_RUN=1

# Product trend collection
MAX_PRODUCTS=0
TREND_DATES=

# Account mapping
ACCOUNT_COUNT=1

ACCOUNT_1_NAME=CHEIN 1
ACCOUNT_1_SOURCE_EXCEL=
ACCOUNT_1_SOURCE_EXCEL_SHEET=
ACCOUNT_1_SOURCE_EXCEL_SPU_COLUMN=E
ACCOUNT_1_SOURCE_EXCEL_NAME_COLUMN=B
ACCOUNT_1_GROUP_TITLE=CHEIN 1
